$grey-bg: #eaeaea;
$light-blue: #adc6ed;
$sans-font: Arial, sans-serif;
$border: 1px solid $light-blue;

#noughties {
	font-family: $sans-font;
	text-align: left;

	.year-list-container {
		border: none;
		padding-bottom: 0;
		max-width: 1024px;
	}
	.year-link {
		color: blue;
		text-decoration: underline;
		border: none;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		background: $light-blue;
		margin: 0 6px;
		padding: 6px 0;
		text-align: center;
		font-size: 20px;

		&:hover {
			text-decoration: none;
		}
	}

	.year-link-selected {
		background: $grey-bg;

		&:hover {
			cursor: default;
		}
	}

	.noughties-content-container {
		background: $grey-bg;
		max-width: 1024px;
		margin: auto;
		padding: 24px;
	}
	.colums-container {
		display: flex;
		justify-content: space-between;
	}

	.left-column {
		width: 55%;
		display: flex;
		flex-direction: column;
	}

	.right-column {
		width: 42.5%;
	}

	h2 {
		background: $light-blue;
		margin-top: 0;
		padding-left: 12px;
	}

	.information {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		border: $border;

		.information-columns {
			display: flex;
			padding: 0 12px;

			p {
				margin: 6px 0;
			}

			.information-left {
				width: 30%;
			}
			.information-right {
				width: 70%;
				font-weight: bold;
			}
		}
	}

	.what-i-was-doing {
		border: $border;
		width: 100%;
		max-width: initial;
		p {
			padding: 0 12px;
		}
	}

	.technologies {
		border: $border;
		margin-top: 3rem;

		.technologies-list {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			padding: 0 12px;
			li {
				color: #73a3ed;

				&:after {
					content: ',\00a0';
					color: black;
				}
			}
			li:last-of-type:after {
				content: '';
			}
		}
	}

	.history-of-web-design {
		border: $border;
		p {
			padding: 0 12px;
		}
	}

	.social-media-container {
		margin: auto;
		margin-top: 3rem;
		max-width: 460px;

		h2 {
			background: initial;
			text-align: center;
		}
		.social-media-links {
			display: flex;
			justify-content: space-around;
			margin-left: 12px;
		}
	}

	#year-link-nineties:hover {
		padding: 0;
	}
	#year-link-flat-design:hover {
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#year-link-material:hover {
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#year-link-brutalism:hover {
		border: none;
	}
	#year-link-now:hover {
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
