@use '../../_breakpoints.scss';
$primary: #6a95ff;
$secondary: #2f3542;
$accent: #fafafa;
#material {
	background-color: #f5f5f5;
	text-align: left;
	menu-icon {
		margin-right: 2rem;
	}

	h2 {
		font-size: 2.5rem;
		font-weight: 300;
	}
	h3 {
		font-weight: 300;
		font-size: 1.75rem;
	}

	.MuiTabs-root {
		width: 100vw;
	}

	.MuiTab-root {
		font-size: 1.5rem;

		@media screen and (max-width: breakpoints.$tablet-down) {
			min-width: 100px;
		}
		@media screen and (max-width: 580px) {
			padding: 6px;
			min-width: initial;
		}
	}

	.first-grid-content {
		max-width: 760px;
		margin: auto;
	}
	.second-grid-content {
		@media screen and (max-width: breakpoints.$tablet-down) {
			max-width: 760px;
			margin: auto;
		}
	}

	.title-intro-container {
		padding-top: 4rem;
		padding-bottom: 2rem;
	}

	.what-i-was-doing {
		margin-bottom: 3rem;
	}

	.technologies-container {
		margin-top: 1rem;
		margin-bottom: 2rem;
	}

	.technologie-card {
		height: 100%;
		@media screen and (max-width: breakpoints.$tablet-down) {
			max-width: 280px;
			margin: auto;
		}
		li {
			text-align: left;
			margin-left: 1.5rem;
		}
	}

	.social-media-links {
		padding-bottom: 3rem;
		margin-top: 1rem;
		display: flex;
		a {
			margin: 0 1rem;
			text-transform: inherit;
			background-color: #fff;

			&:first-child {
				margin-left: 0;
			}
		}

		.logo-social-media-link {
			width: 16px;
			margin-right: 8px;
		}
	}

	.history-of-web-design {
		margin: 5rem 2.5rem;
		padding: 2rem;
		text-align: left;
		background: #dddddd;

		h2 {
			margin-top: 0;
		}

		@media screen and (max-width: breakpoints.$tablet-down) {
			margin: 5rem 24px;
		}
		@media screen and (max-width: breakpoints.$tablet-up) {
			margin: 5rem 16px;
		}
	}
	#year-link-nineties:hover {
		color: yellow;
		font-family: 'Comic Sans MS', 'Comic Sans', serif;
		background-image: url('../../images/hubble_deep_field.jpg');
		background-repeat: repeat;
		opacity: 1;
	}
	#year-link-noughties:hover {
		color: blue;
		text-decoration: underline;
		background: #eaeaea;
		font-size: 20px;
		font-family: Arial, sans-serif;
		opacity: 1;
	}
	#year-link-flat-design:hover {
		color: #fafafa;
		background: #6a95ff;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		opacity: 1;
	}
	#year-link-material:hover {
		cursor: default;
	}
	#year-link-brutalism:hover {
		background-color: #05199c;
		color: white;
		font-family: 'Courier Prime', monospace;
		opacity: 1;
	}

	#year-link-now:hover {
		background-color: #f45b49;
		font-family: 'Exo', sans-serif;
		color: white;
		opacity: 1;
	}
}
