@use '../../_breakpoints.scss';

$unb-office: 'unb-office', sans-serif;
$courier: 'Courier Prime', monospace;
$alfa: 'Alfa Slab One', serif;
$primary: #05199c;
$secondary: #ff200e;
$tertiary: #4c9c14;
$black: #202020;
$yellow: #f5c200;

$border-color: white;
$animation-speed: 15s;
$translate-start: 107.5%;

@keyframes translate-left {
	0% {
		transform: translate($translate-start, 0);
	}
	100% {
		transform: translate($translate-start * -1, 0);
	}
}

@keyframes translate-right {
	0% {
		transform: translate($translate-start * -1, 0);
	}
	100% {
		transform: translate($translate-start, 0);
	}
}

#brutalism {
	font-family: $courier;

	background-color: #05199c;
	color: white;

	.home {
		margin: 0 4rem;
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
		padding-top: 2rem;
		display: flex;
		flex-direction: column;

		@media screen and (max-width: breakpoints.$desktop-up) {
			margin: 0 1rem;
		}
	}

	h2 {
		font-size: 3rem;
		text-align: left;
		padding: 0 3rem;
	}

	.year-list-container {
		border-left: 0;
		border-right: 0;
		padding: 0;
		width: 100%;

		border-color: $border-color;

		.year-link {
			border-right: 1px solid $border-color;
			height: 100%;
			padding: 0.5rem 0;

			font-size: 1.5rem;

			&:last-of-type {
				border-right: none;
			}
		}
	}
	.title-intro-container {
		position: relative;
		font-family: $unb-office;

		h1 {
			font-weight: bold;
			font-style: italic;
			font-size: 10.5vw;
			text-transform: uppercase;
			margin: 0 auto;
			white-space: nowrap;
			overflow: hidden;
			color: $secondary;
			position: absolute;
			width: 100%;

			span {
				width: 100%;
				display: inline-block;
				animation: translate-left $animation-speed linear infinite;
			}
		}
		h1.initial-aniamtion span {
			animation-delay: $animation-speed / -2;
		}
		h1.title-animation span {
			transform: translateX($translate-start);
		}

		h2 {
			color: $black;
			font-size: 6rem;
			text-transform: uppercase;
			font-style: italic;
			margin: 0 auto;
			white-space: nowrap;
			overflow: hidden;
			position: absolute;
			width: 100%;
			top: 12rem;
			span {
				width: 100%;
				display: inline-block;
				// transform: translateX($translate-start);
				// animation: translate-left $animation-speed linear infinite;
			}
		}
		h2.title-animation span {
			animation-delay: $animation-speed / 2;
		}

		@media screen and (max-width: 1620px) {
			h2 {
				font-size: 5rem;
			}
		}

		@media screen and (max-width: breakpoints.$desktop-down) {
			h1 {
				font-size: 10vw;
				top: 3rem;
			}

			h2 {
				font-size: 4.25rem;
				top: 12rem;
			}
		}

		@media screen and (max-width: breakpoints.$desktop-up) {
			h1 {
				font-size: 11vw;
				top: 2rem;
			}
			h2 {
				top: 11rem;
			}
		}

		@media screen and (max-width: breakpoints.$tablet-down) {
			h2 {
				font-size: 3.75rem;
				padding-left: 1rem;
			}
		}

		@media screen and (max-width: breakpoints.$tablet-up) {
			h1 {
				top: 1rem;
			}
			h2 {
				width: 93%;
				white-space: normal;
				padding-left: 3rem;
				top: 8rem;
			}
		}
		@media screen and (max-width: 600px) {
			h1 {
				font-size: 10.5vw;
			}
		}

		@media screen and (max-width: breakpoints.$phone-down) {
			h1 {
				font-size: 10vw;
				top: 2rem;
			}

			h2 {
				font-size: 2.5rem;
				padding-left: 1rem;
			}
		}
	}

	.title-placeholder {
		height: 20rem;

		@media screen and (max-width: breakpoints.$desktop-down) {
			height: 15rem;
		}
		@media screen and (max-width: breakpoints.$phone-down) {
			height: 12.5rem;
		}
	}

	.what-i-was-doing {
		margin-left: 15%;
		font-family: $alfa;
		color: $black;
		text-transform: uppercase;
		text-align: left;

		@media screen and (max-width: breakpoints.$desktop-down) {
			margin-left: 5%;
		}

		@media screen and (max-width: breakpoints.$desktop-up) {
			width: 90%;
			margin: auto;
		}

		h2 {
			position: relative;
			width: 300px;
			background-color: white;
			font-size: 2.25rem;
			border: 5px solid $black;
			padding: 0 0.5rem;
			z-index: 2;

			@media screen and (max-width: breakpoints.$tablet-down) {
				font-size: 1.75rem;
				width: 250px;
			}
		}

		p {
			width: 720px;
			background-color: $secondary;
			font-size: 1.25rem;
			border: 5px solid $black;
			z-index: 1;
			position: relative;
			top: -3rem;
			left: 3rem;
			padding: 1rem;

			@media screen and (max-width: breakpoints.$desktop-up) {
				width: 95%;
			}

			@media screen and (max-width: breakpoints.$tablet-down) {
				width: 85%;
				font-size: 1rem;
				top: -2.5rem;
			}
			@media screen and (max-width: breakpoints.$phone-down) {
				width: 80%;
			}
		}
	}

	.technologies-list {
		display: flex;
		justify-content: space-around;

		@media screen and (max-width: breakpoints.$widescreen-up) {
			justify-content: space-between;
			margin: 0 3rem;
		}
		@media screen and (max-width: breakpoints.$tablet-up) {
			flex-direction: column;
			align-items: center;
		}

		.technologie-section {
			width: 30%;
			max-width: 300px;
			position: relative;
			padding: 1rem;
			height: max-content;
			@media screen and (max-width: breakpoints.$tablet-up) {
				min-width: 320px;
			}
			@media screen and (max-width: breakpoints.$phone-down) {
				min-width: 230px;
				margin-left: 3rem;
			}

			.technologie-background {
				position: absolute;
				z-index: 0;
				width: 75%;
				height: 90%;
				transform: skew(340deg, 0deg);
				background-color: $black;
				right: 20%;
			}

			h3 {
				font-size: 1.5rem;
				color: white;
				background-color: $primary;
				text-transform: uppercase;
				display: inline-block;
				padding: 0 1.5rem;
				z-index: 1;
				position: relative;
				margin-bottom: 0;
				@media screen and (max-width: breakpoints.$tablet-down) {
					padding: 0 1rem;
					margin-left: 2rem;
				}
				@media screen and (max-width: breakpoints.$tablet-up) {
					margin-left: 0;
				}
			}
			ul {
				margin-top: 0.5rem;
				z-index: 1;
				position: relative;
				list-style-type: none;
				text-align: left;
				font-size: 1.25rem;
				left: 2.25rem;
				line-height: 1.75rem;
				@media screen and (max-width: breakpoints.$tablet-down) {
					left: 1.5rem;
				}
				@media screen and (max-width: breakpoints.$tablet-up) {
					left: 3rem;
				}
			}
		}
	}

	.separator {
		border-bottom: 1px solid white;
		max-width: 100%;
		width: 100%;
	}

	.social-media-container {
		max-width: 900px;
		display: flex;
		flex-direction: column;
		border-right: 1px solid white;
		@media screen and (max-width: breakpoints.$tablet-down) {
			border-right: 0;
		}
		.social-media-links {
			display: flex;
			justify-content: space-around;
			min-height: 70px;
			@media screen and (max-width: breakpoints.$phone-down) {
				flex-direction: column;
				align-items: flex-start;
				margin-left: 3rem;
			}

			.button {
				@media screen and (max-width: breakpoints.$phone-down) {
					min-height: 50px;
				}

				a {
					color: $black;
					text-decoration: none;
					font-weight: bold;
					font-size: 1.25rem;
					width: 100%;
					height: 100%;
					padding: 0.5rem 3rem;
					background-color: $yellow;
					border: 5px solid $black;

					@media screen and (max-width: breakpoints.$tablet-up) {
						padding: 0.5rem 1rem;
					}
					@media screen and (max-width: breakpoints.$phone-down) {
						padding: 0.5rem 3rem;
					}

					&:hover {
						border-color: $yellow;
						background-color: white;
					}
				}
			}
		}
	}

	.history-of-web-design {
		margin-right: 15%;
		font-family: $alfa;
		color: $black;
		text-transform: uppercase;

		@media screen and (max-width: breakpoints.$desktop-down) {
			margin-right: 5%;
		}

		@media screen and (max-width: breakpoints.$desktop-up) {
			width: 90%;
			margin: auto;
		}

		h2 {
			position: relative;
			width: 300px;
			background-color: white;
			font-size: 2.25rem;
			border: 5px solid $black;
			padding: 0 0.5rem;
			z-index: 2;
			margin-left: auto;
			text-align: right;

			@media screen and (max-width: breakpoints.$tablet-down) {
				font-size: 1.75rem;
				width: 250px;
			}
		}

		p {
			width: 720px;
			background-color: $secondary;
			font-size: 1.25rem;
			border: 5px solid $black;
			z-index: 1;
			position: relative;
			top: -3rem;
			right: 3rem;
			padding: 1rem;
			margin-left: auto;
			text-align: right;

			@media screen and (max-width: breakpoints.$desktop-up) {
				width: 95%;
			}

			@media screen and (max-width: breakpoints.$tablet-down) {
				width: 85%;
				font-size: 1rem;
				top: -2.5rem;
			}
			@media screen and (max-width: breakpoints.$phone-down) {
				width: 80%;
			}
		}
	}
	#year-link-nineties:hover {
		font-size: 1.3rem;
		padding: 0.4rem 0.3rem;
	}
	#year-link-noughties:hover {
		padding: 0.5rem 0.25rem;
		font-size: 1.4rem;
	}
	#year-link-flat-design:hover {
		padding: 0.1rem 0.1rem 0.5rem 0.1rem;
	}
	#year-link-material:hover {
		padding: 0.2rem 0.1rem 0.5rem 0.1rem;
		border-width: 3px;
	}
	#year-link-brutalism:hover {
		border-top: none;
		border-bottom: none;
		cursor: default;
	}

	#year-link-now:hover {
		font-size: 1.25rem;
		padding: 0.5rem 0.4rem;
	}
}
